<div class="sidebar">
    <ul>
      <li><a routerLink="/crudCity" routerLinkActive="active">City</a></li>
      <li><a routerLink="/crudTypeRoom" routerLinkActive="active">Type Room</a></li>
      <li><a routerLink="/crudRol" routerLinkActive="active">Role</a></li>
      <li><a routerLink="/crudDocumentType" routerLinkActive="active">Document Type</a></li>
      <li><a routerLink="/Hotel" routerLinkActive="active">Hotel</a></li>
      <li><a routerLink="/Employee" routerLinkActive="active">Employee</a></li>
      <li><a routerLink="/Customer" routerLinkActive="active">Customer</a></li>
      <li><a routerLink="/Invoice" routerLinkActive="active">Invoice</a></li>
      <li><a routerLink="/Reservation" routerLinkActive="active">Reservation</a></li>
      <li><a routerLink="/Room" routerLinkActive="active">Room</a></li>





    </ul>
  </div>


  
